@font-face {
    font-family: 'Game Over Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Game Over Regular'), url('./fonts/game_over.woff') format('woff');
}

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./fonts/SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: steelblue;
}